header {
  background:  #8becef url(colorado.jpg);
  height: auto;
  width: auto;
  font-family: Helvetica, sans-serif;
  font-size: 5em;
  padding: 1em;
  color: #fff;
}

header img{
  height: 10;
  width: auto;
}

h1 {
  color: #8becef;
  font: Helvetica;
}

.items h2 {
  color: red;
}
